<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openlp.lite" >

    <application
        android:name=".OpenlpApplicaton"
        android:allowBackup="true"
        android:label="OpenLP-Lite"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SongsListActivity"></activity>
        <activity android:name=".activity.UserSettingActivity"></activity>
        <activity android:name=".activity.SettingsActivity"></activity>
        <activity android:name=".activity.SongsViewActivity"></activity>
        <activity android:name=".activity.FilePickerActivity"></activity>
        <activity android:name=".activity.CustomTabSettings"></activity>
        <activity android:name=".page.component.list.PinnedSectionListActivity"></activity>




    </application>
    <!--permissions to access remote url-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


</manifest>
